<div class="container-xxl text-center">
  <h1>POKEDÉX</h1>
</div>

<div class="container-xxl">
  <div class="card border border-white border border-5">
      <div class="row">
        <div class="col">
          <span class="border_clear">
            <img src="{{getImgPokemon()}}" class="img-fluid" />
          </span>
        </div>
        <div class="col">
          <div class="box">
            <h2>{{pokemon.name | titlecase}} - ID: {{pokemon.id}}</h2>
            <p>Height: {{pokemon.height/10}} m</p>
            <p>Weight: {{pokemon.weight/10}} kg</p>
            <p>Abilities: {{abilitiesPokemon()  | titlecase}}</p>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="button d-flex justify-content-around">
  <button type="button" class="d-flex justify-content-evenly btn btn-custom" (click)="AnteriorPokemon()">Anterior</button>
  <button type="button" class="d-flex justify-content-evenly btn btn-custom" (click)="ProximoPokemon()">Próximo</button>
</div>
</div>
